/*
  CSS Styles for Youtube to posts WP plugin
 */

.results {
    background: #fff;
    border-radius: 4px;
}
.updated {
    display: none;
}

.results .result > div, #headResults > div{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}
.results .result {
    border-top: 1px solid #eee;
}
.results.loading {
    background: url('ajax-loader.gif') no-repeat center center;
}
.results .result:after {
  content:"";
  display:table;
  clear:both;
}
.results .result img {
    max-width: 100%;
    width: 120px;
}
.results .result .buttons .button {
    margin: 10px;
}
.options-custom {
  background: #E5E5E5;
  border-radius: 4px;

  padding: 20px;
}

.toplevel_page_yt_to_posts_feed .option{
  margin: 10px;
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.toplevel_page_yt_to_posts_feed .option.hidden {
  display: none;
}
.toplevel_page_yt_to_posts_feed .option label {
  font-weight: bold;
  display: inline-block;
  width: 200px;
}

.align-center {
  text-align: center !important;
}
.align-center p {
  text-align: center;
}
.hidden {
  display: none;
}